.chat-main
  .chat-main__group--info
    .chat-main__group--info__current-user
      .chat-main__group--info__current-user__list__name
        = @group.name
      .chat-main__group--info__current-user__list
        - @group.group_users.each do |group|
          = group.user.name

    .chat-main__group--info__edit
      = link_to edit_group_path(@group) do
        Edit
        
  .chat-main__message
    = render @messages  
  
  .chat-main__form
    = form_for [@group, @message] do |f|
      .chat-main__form__text
        .chat-main__form__text__input-box
          =f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .chat-main__form__text__image
            = f.label :image, class: 'input-box__image' do
              = icon('fas', 'image', class: 'chat-main__form__text__image__icon')
              = f.file_field :image, class: 'chat-main__form__text__image__file'
      .chat-main__form__send
        = f.submit 'send', class: 'chat-main__form__send__btn'
    